{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Choice Product Page</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/ico.png' %}?v=1">
</head>
<body>
    <h1>{{ question }}</h1>
    <form method="post">
        {% csrf_token %}
        {% for option in options %}
        <label>
            <input type="radio" name="action" value="{{ option }}">
            {{ option }}
        </label><br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
