<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Menu</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <ul>
            <li><a href="{% url 'contact' %}">Зв'язатись з менеджером</a></li>
            <li><a href="{% url 'praktyka' %}">Підібрати подарунок</a></li>
            <li><a href="{% url 'praktyka' %}">Повернення товару</a></li>
            <li><a href="{% url 'choice_product' %}">Підібрати товар</a></li>
            <li><a href="{% url 'praktyka' %}">Нормальна практика</a></li>
        </ul>
    </body>
</html>