{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9NBZLZ6003"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9NBZLZ6003');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Roboto&display=swap" rel="stylesheet">

    <img src="{% static 'img/14.jpeg' %}" class="uploaded-img">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-M5FLN37H');</script>
        <!-- End Google Tag Manager -->
</head>
<body class="body ">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M5FLN37H"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <main>
        <div class="container">
            <ul class="menu">
                <div id="chatModal">
                    <div class="wrapper_modal">
                        <div class="modal">
                            <header class="header">
                                <div></div>
                                <img src="{% static 'img/logo.png' %}" class="header_title" />
                                <p class="header_text">Чат-бот</p>
                            </header>
                            <div class="wrapper_modal-content">
                                <div class="modal-content">
                                    <div class="grreetings">
                                        <div class="greetings_image">
                                            <img src="{% static 'img/hand-wave.png' %}" />
                                        </div>
                                        <p class="greetings_text">Привіт! Скористайся нашим чат-ботом, щоб підібрати
                                            щось особливе!</p>
                                    </div>
                                    
                                    <div class="to-do-buttons">
                                        <section class="sreviews">
                                            <div class="from-bot">
                                                <p>Вітємо у бета версії нашого чат-бота!</p>
                                            </div>
                                        </section>
                                        <section class="sreviews">
                                            <div class="from-bot">
                                                <p>У будь який момент можеш зв'язатись з менеджером натиснувши на кнопку</p>  <p>[Зв'язатись з менеджером] або [🙋]</p>
                                            </div>
                                        </section>
                                    </div>

                                    <div class="to-do-buttons">
                                        <section class="sreviews">
                                            <div class="from-bot">
                                                <p>{{ data.main_1.q }}</p>
                                            </div>
                                        </section>
                                        <div class="buttons">
                                            {% for option in data.main_1.options %}
                                                    <button id="{{option.next_id}}" class="button">{{ option.label }}</button>
                                            {% endfor %}
                                        </div>
                                    </div>                    

                            <div class="chatting">
                                <div class="chatting_emoji_wrapper">
                                    <div class="chatting_emoji">
                                        <img class="chatting-emoji_img" src="{% static 'img/happy_1023656 1.png' %}">
                                    </div>
                                </div>
                                <input class="chatting_input" placeholder="Введіть ваше повідомлення" />
                                <button class="chatting_button"><img src="{% static 'img/Send_fill.png' %}" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </ul>
        <button class="hamburger">
            <i class="menuIcon material-icons"><img src="{% static 'img/icon-chat.png' %}"></i>
            <i class="closeIcon material-icons"><img src="{% static 'img/Close_round.png' %}"></i>
        </button>
        </div>
    </main>
    <script>
        // Define JavaScript variables using Django template tags
        // Pass the data from views.py context
        var data = ({{ data | safe }});
    </script>
    <script src="{% static 'js/main.js'%}"></script>

</body>

</html>  