{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Menu</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/ico.png' %}?v=1">
    </head>
    <body>
        <ul>
            <li><a href="{% url 'contact' %}">Зв'язатись з менеджером</a></li>
            <li><a href="{% url 'praktyka' %}">Підібрати подарунок</a></li>
            <li><a href="{% url 'praktyka' %}">Повернення товару</a></li>
            <li><a href="{% url 'choice_product' %}">Підібрати товар</a></li>
            <li><a href="{% url 'praktyka' %}">Нормальна практика</a></li>
        </ul>
    </body>
</html>