{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Chat Bot</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div id="chat-container">
        <div class="chat">
            <div class="message bot">&#128075; Привіт! Скористайся нашим чат-ботом, щоб підібрати щось особливе!</div>
            <div class="options">
                <button class="menu-button" data-option="Зв'язатись з менеджером">Зв'язатись з менеджером</button>
                <button class="menu-button" data-option="Підібрати подарунок">Підібрати подарунок</button>
                <button class="menu-button" data-option="Повернення товару">Повернення товару</button>
                <button class="menu-button" data-option="Підібрати товар">Підібрати товар</button>
                <button class="menu-button" data-option="Нормальна практика">Нормальна практика</button>
            </div>
        </div>
        <div class="user-input">
            <input type="text" id="user-message" placeholder="Напишіть своє повідомлення...">
            <button id="send-button">
                <span>&#10148;</span>
            </button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'app.js' %}"></script>
</body>
</html>
