{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Praktyka Page</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/ico.png' %}?v=1">
</head>
<body>
    {% for item in data %}
    <ul>
        {% for message in item.1.intro_message1 %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for message in item.1.intro_message2 %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <p>{{ item.1.label }}</p>
    <ul>
        {% for link in selected_links %}
        <li><a href="{{ link }}">{{ link }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</body>
</html>
